<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <h1>Nueva Geolocalización</h1>
</div>

<%= render 'form' %>
